//
//  Tools: Mixins
//  ---
//  Custom mixins
//

//
// Media Query mixin
// @include mq(#point, #query1, #query2);
//

@mixin mq($breakpoint, $query1: min, $query2: width) {
    $query: map-get($breakpoints, $breakpoint);

    @if $query != null {
        @media (#{$query1}-#{$query2}: #{$query}) {
            @content;
        }
    } @else {
        @media (#{$query1}-#{$query2}: $breakpoint) {
            @content;
        }
    }
}

// Clearfix.
// @mixin clearfix

@mixin clearfix {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}

@mixin uppercase {
    text-transform: uppercase;
    letter-spacing: .1em;
}

@mixin uppercase-wide {
    text-transform: uppercase;
    letter-spacing: .2em;
}

@mixin box-shadow {
    box-shadow: 0 2px 4px rgba(palette(color-neutral,xxxx-dark),.1);
}

@mixin box-shadow-lg {
    box-shadow: 0 4px 8px rgba(palette(color-neutral,xxxx-dark),.1);
}

@mixin box-shadow-xl {
    box-shadow: 0 8px 24px rgba(palette(color-neutral,xxxx-dark),.1);
}

@mixin divider-line($col) {
    $choice-column-bgcolor: palette(color-neutral, xxxx-light);
    $choice-column-bgcolor: transparent;
    $choice-column-border-color: palette(color-neutral, xx-light);
    // $choice-column-border-color: rgba(palette(color-neutral,xxxx-dark),.075);
    $choice-column-border-width: 1px;
    $choice-column-border-style: solid;
    &::before {
        content: attr(data-placeholder);
        display: block;
        border: $choice-column-border-width $choice-column-border-style $choice-column-border-color;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        grid-row: 1 / -1;
        grid-column: $col / span 2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -2rem;
        right: 0;
        pointer-events: none;
    }
}
