/*
    Utilities: Grid
    ---
    CSS grid utilities
*/

// Start a grid item on a specific grid column / row
.u-grid-column-start-1 {
	grid-column-start: 1;
}

.u-grid-column-start-2 {
	grid-column-start: 2;
}

.u-grid-column-start-3 {
	grid-column-start: 3;
}

.u-grid-column-start-4 {
	grid-column-start: 4;
}

.u-grid-column-start-5 {
	grid-column-start: 5;
}

.u-grid-column-start-6 {
	grid-column-start: 6;
}

// Span a certain amount of rows or columns
.u-y-span-3 {
	grid-row: span 3;
}

.u-y-span-6 {
	grid-row: span 6;
}

.u-y-span-9 {
	grid-row: span 9;
}

.u-y-span-24 {
	grid-row: span 24;
}

// Span a certain amount of rows or columns
.u-x-span-1 {
	grid-column: span 1;
}
.u-x-span-2 {
	grid-column: span 2;
}
.u-x-span-3 {
	grid-column: span 3;
}

.u-x-span-6 {
	grid-column: span 6;
}

.u-x-span-9 {
	grid-column: span 9;
}

.u-x-span-24 {
	grid-column: span 24;
}