{{ define "main" }}
<main>
    <div class="c-row c-row--lg">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section-lg">
                        <div class="u-max-width-xl">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
								{{.Params.Subheader}}
                            </h1>
                            <p class="c-type-intro">
								{{.Params.Intro | markdownify}}
                            </p>
                        </div>
                    </div>
                    <div class="c-main-section-lg">
                        <div class="c-video-player">
                            <button class="c-video-play-button">
                                {{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol")}}
                            </button>
                            <video class="c-video-player__video" poster="{{ .Params.Poster }}">
                                {{ range .Params.video }}
                                    {{ $ext := index (last 1 (split . ".")) 0 }}
                                    <source src="{{ . }}" type="video/{{ $ext }}">
                                {{ end }}
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        <p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
                            {{ .Params.caption }}
                        </p>
                    </div>
                    <div class="c-main-section-lg">
                        <div class="c-main-section">
                            <div class="s-content u-max-width-lg">
                                <h2 class="c-type-title-lg">
									{{ .Params.quote }}
                                </h2>
                            </div>
                        </div>
                        <div class="c-main-section">
                            <div class="o-grid o-grid--gutter-lg">
                                {{ $length := len .Params.introText }}
                                {{ range $i, $text := .Params.introText }}
                                <div class="o-grid__item u-1-of-{{ $length }}-bp4">
                                    <div class="s-content u-max-width-optimal">
                                        {{ $text | markdownify}}
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
                <div class="o-grid__item u-8-of-12-bp4 u-7-of-12-bp5 u-push-1-of-12-bp5 u-2-of-4-bp6 u-push-1-of-4-bp6">
                    <div class="c-main-section">
                        <div class="s-content u-max-width-optimal">
                            {{ .Content }}
                        </div>
                    </div>
                    <div class="c-main-section">
                        <h3>
                            Specifieke microdegrees voor MCT @ Home
                        </h3>
                        <div class="c-curriculum c-curriculum--single c-curriculum--at-home js-curriculum">
                            {{ $AtHomeTracks := slice "ai-at-home" "deploying-ai-at-home" "ai-at-home-pro" }}
                            {{ $AtHomeTracksHuman := slice "AI @ Home" "Deploying AI @ Home" "AI @ Home Pro" }}
                            {{ range $i, $sequence := seq 3 }}
                                <h3 class="c-curriculum__semester-title">
                                    {{ index $AtHomeTracksHuman $i }}
                                </h3>
        
                                {{/* Loop the modules of the common semesters, the rest is dynamically added */}}
                                    {{ range (where $.Site.Pages "Type" "programma") }}
                                    {{ if (isset .Params "home") }}
                                        {{ if in .Params.Tracks (index $AtHomeTracks $i) }}
                                            <a
                                                href="{{ .Permalink }}"
                                                class="c-module c-module--{{ .Params.Pillar }} c-module--link u-grid-column-start-{{ add $i 1 }} u-y-span-{{ .Params.StudyCredits }} js-module"
                                            >
                                                <h4 class="c-module__title">{{ .Title }}</h4>
                                                {{ if .Params.Tags }}
                                                    <p class="c-module__tags">
                                                        {{ range .Params.Tags }}
                                                            #{{ . }}
                                                        {{ end }}
                                                    </p>
                                                {{ end }}
                                            </a>
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </div>
                        <ul class="o-list c-curriculum-legend">
                            <li class="c-curriculum-legend__item">
                                <span class="c-curriculum-legend__swatch u-bgcolor-analysis-base"></span>
                                Analysis
                            </li>
                            <li class="c-curriculum-legend__item">
                                <span class="c-curriculum-legend__swatch u-bgcolor-code-base"></span>
                                Code
                            </li>
                        </ul>
                    </div>
                    <div class="c-main-section">
                        <div class="s-content u-max-width-optimal">
                            {{ range .Params.questions }}
                                <h3>{{ .title }}</h3>
                                <p>{{ .text | markdownify }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="c-row c-row--lg c-row--divide">
		<div class="o-container">
			<div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
				<div class="o-grid__item u-8-of-12-bp4 u-7-of-12-bp5 u-push-1-of-12-bp5 u-2-of-4-bp6 u-push-1-of-4-bp6">
					<div class="c-main-section">
						<h2>Veelgestelde vragen:</h2>

                        {{ with .Site.GetPage "/at-home/questions" }}

                        {{ range .Params.questions }}
                            <h3>{{ .question }}</h3>
                            <p>{{ .answer | markdownify }}</p>
                        {{ end }}

                        {{ end }}
<!-- 
						<h3>Het betreft een cursus van 2 maal 6 SP. Klopt het dat één studiepunt overeenkomt met een duur van 25 tot 30 uur?</h3>
						<p>In theorie, klopt dat. We vermoeden dat professionals ongeveer 4 tot 8 uur per week zullen nodig hebben, 12-15 weken per module (grof geschat op basis van ons dagonderwijs).</p>

						<h3>Als toelatingsvereiste is kennis van Python gevraagd.</h3>
						<p>Wij zijn er van overtuigd dat iedereen met wat IT-ervaring heel snel Python leert. Bovendien zijn er veel gratis python cursussen beschikbaar, we wilden ook de kost beperkt houden, maar ook de tijd die je als professional moet spenderen. Maar om de studenten correct te informeren, willen we er zeker op wijzen dat dit de verantwoordelijkheid is van de student. Zeker voor wie al lang niet meer geprogrammeerd heeft, mag dit geen bron van teleurstelling worden.</p>

						<p>We raden een IT bachelor diploma aan - maar de voornaamste voorwaarde is programmeer skills - en bereid zijn om Python te leren. Met de huidige vele goede gratis cursussen python willen wij de tijd &amp; de kost voor onze professionele studenten beperken door intro tot Python niet op te nemen.</p>

						<h3>Wat is het niveau? BA na BA? Geen academische graad?</h3>
						<p>De graad die je behaald is een micro degree van AI, dus twee creditcontracten voor deze twee modules, dus dezelfde modules van onze Bachelors NMCT (die 180 studiepunten moeten verwerven). Je verwerft dus 2/5 van een postgraduaat. In 2019-2020 wordt dat postgraduaat gelanceerd (onder voorbehoud).</p>
						<p>De reden is dat we mikken op professionelen die dit naast hun werk moeten voltooien.</p>

						<h3>Hoeveel contacturen zijn er ingepland en wanneer gaan deze door? 's Avonds of overdag?</h3>
						<p>Het is afstandsonderwijs. Er is - per module - één optioneel intromoment voorzien en er is één verplicht examenmoment 's avonds in Kortrijk.</p>

						<h3>Toelatingsvoorwaarden?</h3>
						<p>We raden een IT bachelor diploma aan - maar de voornaamste voorwaarden zijn programmeer skills en het bereid zijn om Python te leren. Kijk even naar volgende twee voorbeelden: <a href="https://mctwebsite.blob.core.windows.net/docs/Boston_housing.pdf" rel="noopener">Boston housing demo</a> en <a href="https://mctwebsite.blob.core.windows.net/docs/MNIST_PCA.pdf" rel="noopener">MNIST_PCA</a> om te zien welk niveau wij verwachten. Met de huidige vele goede gratis cursussen python willen wij de tijd &amp; de kost voor onze professionele studenten beperken door intro tot Python niet op te nemen.</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
    {{ partial "components/cta.html" (dict "title" "Klaar om AI op afstand te leren?" "paragraph" "Hou je kennis op peil dankzij deze microdegrees!" "hyperlink" "https://www.howest.be/nl/opleidingen/bachelor/multimedia-en-communicatietechnologie/artificial-intelligence-at-home") }}
</main>
{{ end }}
