{{ define "main" }}
<main>
    <div class="c-row c-row--lg">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <!-- Title -->
                    <div class="c-main-section-lg">
                        <div class="u-max-width-xl">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
								{{.Params.Subheader}}
                            </h1>
                            <p class="c-type-intro">
								{{.Params.Intro | markdownify}}
                            </p>
                        </div>
                    </div>
                    <!-- Video player -->
                    <div class="c-main-section-lg">
                        <div class="c-video-player">
                            <button class="c-video-play-button">
                                {{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol")}}
                            </button>
                            <video class="c-video-player__video" poster="{{ .Params.Poster }}">
                                {{ range .Params.video }}
                                    {{ $ext := index (last 1 (split . ".")) 0 }}
                                    <source src="{{ . }}" type="video/{{ $ext }}">
                                {{ end }}
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        <p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
                            {{ .Params.caption }}
                        </p>
                    </div>
                    <!-- Introduction -->
                    <div class="c-main-section-lg">
                        <div class="c-main-section">
                            <div class="s-content u-max-width-lg">
                                <h2 class="c-type-title-lg">
									{{ .Params.quote }}
                                </h2>
                            </div>
                        </div>
                        <div class="c-main-section">
                            <div class="o-grid o-grid--gutter-lg">
                                {{ $length := len .Params.introText }}
                                {{ range $i, $text := .Params.introText }}
                                <div class="o-grid__item u-1-of-{{ $length }}-bp4">
                                    <div class="s-content u-max-width-optimal">
                                        {{ $text | markdownify}}
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- English Taught Year explanation -->
    {{ with .Site.GetPage "/international/english-taught-year" }}
    <div class="c-row c-row--lg u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
                <div class="o-grid__item u-8-of-12-bp4 u-7-of-12-bp5 u-push-1-of-12-bp5 u-6-of-8-bp6">
                    <div class="c-main-section-lg">
                        <div class="u-max-width">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
								{{.Params.title}}
                            </h1>
                            <p class="c-type-intro">
								{{.Params.description | markdownify}}
                            </p>
                        </div>
                        <div >
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <!-- Programme -->
    <div class="c-row c-row--lg u-pt-clear u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <h2 class="c-type-svg c-type-svg--programm c-curriculum-title">
                <img class="c-type-svg__svg" src="/img/svg/word-programm.svg" alt="Programma">
            </h2>
            <div class="c-curriculum-overview">
                <p>In your Fall semester, you have a few choices of modules to follow:</p>
                <ul>
                    <li>MLOps <strong>OR</strong> Basic Dutch & Meeting Flanders Today</li>
                    <li>Deep Learning <strong>OR</strong> AI For Healthcare</li>
                </ul>
                <p><strong>The Spring Semester is only available to the students who also applied for the AI Engineer Fall Semester. Cannot be followed separately.</strong></p>
                <div class="c-curriculum c-curriculum--single c-curriculum--english js-curriculum">
                    {{ $AtHomeTracks := slice "ai-english" }}
                    {{ $AtHomeTracksHuman := slice "AI Engineer (English)" }}
                    {{ range $i, $semester := seq 2 }}
                        {{ if eq $i 0 }}
                        <h3 class="c-curriculum__semester-title u-x-span-2 u-grid-column-start-1">
                            Semester Fall
                        </h3>
                            {{ else }}
                        <h3 class="c-curriculum__semester-title u-grid-column-start-3">
                            Semester Spring
                        </h3>
                            {{ end }}

                        {{/* Loop the modules of the common semesters, the rest is dynamically added */}}
                        {{ range (where $.Site.Pages "Type" "programma") }}
                            {{ if and (eq .Params.Semester $semester) (isset .Params "english-only") (not (isset .Params "hide")) }}
                            {{ $colspan := add (add .Params.Semester (sub .Params.Semester 1)) (default 0 .Params.Choice) }}
                            <!-- Semester (1) + (Semester - 1) + 0 ==> 1 -->
                            <!-- Semester (1) + (Semester - 1) + 1 ==> 2 -->
                            <!-- Semester (2) + (Semester - 1) + 0 ==> 3 -->
                            <!-- Semester (2) + (Semester - 1) + 1 ==> 4 -->
                                <a
                                    href="{{ .Permalink }}"
                                    class="c-module c-module--{{ .Params.Pillar }} c-module--link u-grid-column-start-{{ $colspan }} u-y-span-{{ .Params.StudyCredits }} js-module"
                                >
                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                    {{ if .Params.Tags }}
                                        <p class="c-module__tags">
                                            {{ range .Params.Tags }}
                                                #{{ . }}
                                            {{ end }}
                                        </p>
                                    {{ end }}
                                </a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>

                <!-- Curriculum legend -->
                <ul class="o-list c-curriculum-legend">
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-analysis-base"></span>
                        Analysis
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-code-base"></span>
                        Code
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-connect-base"></span>
                        Connect
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-design-base"></span>
                        Design
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-project-base"></span>
                        Integrate
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-international-base"></span>
                        International
                    </li>
                </ul>
            </div>
        </div>
    </div>    
    <!-- Other International Opportunities -->
	<section class="c-row c-row--lg c-row--divide">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section">
                        {{ with .Site.GetPage "/international/opportunities" }}

                        {{ range $opportunity_index, $opportunity_element := .Params.opportunities }}
                            <section class="o-grid__item u-max-width c-row">
                                <div class="o-grid o-grid--gutter-lg">
                                    {{ $cover := $opportunity_element.cover}}
                                    <div class="o-grid__item u-ms4-bp5 {{ if $cover }}u-6-of-12-bp5 {{else}}u-10-of-12-bp5 {{end}}u-push-1-of-12-bp5 o-flex--align-end {{ if not (modBool $opportunity_index 2) }}o-flex-order2-bp5{{end}}">
                                        <h2 class="u-ms4-bp3 u-ms4-bp5">{{ $opportunity_element.title }}</h2>
                                        {{ $opportunity_element.content | markdownify }}
                                    </div>
                                    {{ if $cover }}
                                        <div class="o-grid__item u-4-of-12-bp5 u-push-1-of-12-bp5 o-flex--align-end ">
                                            <div class="o-grid o-grid--gutter-sm o-flex o-flex--wrap o-flex--align-end">
                                                {{ $image := .Resources.GetMatch $cover }}
                                                {{ $scaledImage := $image.Resize "200x" }}
                                                <div class="o-grid__item u-6-of-12 u-12-of-12-bp5 o-flex--align-end">
                                                    <p><img alt="{{ $opportunity_element.title }}" src="{{ $cover }}"></p>
                                                    <p class="c-type-meta u-ms-2 u-color-neutral-xxxx-dark u-opacity-alpha">
                                                        {{ $opportunity_element.title }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            </section>
                        {{ end }}

                        {{ end }}
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- Testimonials -->
    <section class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxx-light">
        <div class="c-main-section-lg u-6-of-8 u-push-1-of-8">
            {{ $testimonials := (where .Site.Pages "Type" "International Testimonial") }}
            {{ range $opportunity_index, $opportunity_element := $testimonials }}
            <div class="o-grid o-grid--gutter o-grid--align-center">
                {{ $cover := .Params.image }}
                {{ if $cover }}
                {{ $image := $.Resources.GetMatch $cover }}
                {{ $scaledImage := $image.Fill "502x502 Center" }}
                <div class="o-grid__item u-2-of-5-bp3">
                    <figure class="u-rounded-full">
                        <img class="lozad" data-src="{{ $scaledImage.Permalink }}" alt="{{ .Title }} - {{ .Params.Country }}">
                    </figure>	
                </div>
                {{ end }}
                <div class="o-grid__item u-3-of-5-bp3 s-content">
                    <blockquote class="c-quote u-pl-clear">
                        {{ .Content }}
                        <p class="c-quote__author">
                            {{ .Title }} - {{ .Params.Class }} -- {{ .Params.Reason }} in {{ .Params.Country }}
                        </p>
                    </blockquote>
                </div>
            </div>
            {{end}}
        </div>
    </section>
    <!-- International articles -->
    <section class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxxx-light">
        <div class="o-container">
            <div class="c-news">
                <h2 class="c-type-svg c-type-svg--news">
                    <img class="c-type-svg__svg" src="/img/svg/word-news.svg" alt="Nieuws">
                </h2>
                <div class="c-news__body">
                    <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-baseline u-mb-epsilon-neg">
                        {{ range .RegularPages  }}
                            {{ if eq .Params.type "international"}}
                            <article class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4 u-1-of-4-bp5 o-flex o-flex--align-end u-mb-epsilon">
                                {{ partial "atoms/international" .}}
                            </article>
                            
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial "components/cta.html" .Params.cta }}
</main>
{{ end }}
