{{ define "main" }}
<main>
    <div class="c-row c-row--lg u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section-lg">
                        <div class="u-max-width-xl">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
                                {{.Params.Subheader}}
                            </h1>
                            <p class="c-type-intro">
                                {{.Params.Intro | markdownify}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg u-pt-clear u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <h2 class="c-type-svg c-type-svg--programm c-curriculum-title">
                <img class="c-type-svg__svg" src="/img/svg/word-programm.svg" alt="Programma">
            </h2>
            <div class="c-curriculum-overview">
                <div class="c-curriculum-choice js-curriculum-choice">
                    <div class="c-curriculum-choice__box">
                        <div class="c-curriculum-choice__body">
                            <button class="c-curriculum-choice__button js-curriculum-button">
                                <span>Kies je expertise</span>
                                <svg role="img" class="c-symbol c-symbol-keyboard-arrow-down c-curriculum-choice__icon-down">
                                    {{ partial "atoms/symbol" (dict "value" "keyboard-arrow-down" "class" "c-curriculum-choice__icon-down") }}
                                </svg>
                            </button>
                            <div class="o-list c-curriculum-choices js-curriculum-choices is-hidden">
                                <label class="c-curriculum-choices__item">
                                    <input type="radio" class="c-curriculum-choices__radio js-track-radio" name="track" id="profile-smart-xr-developer" value="profile-smart-xr-developer" class="c-curriculum-choices__filter">
                                    <span class="c-curriculum-choices__text">Smart XR Developer</span>
                                </label>

                                <label class="c-curriculum-choices__item">
                                    <input type="radio" class="c-curriculum-choices__radio js-track-radio" name="track" id="profile-next-web-developer" value="profile-next-web-developer" class="c-curriculum-choices__filter">
                                    <span class="c-curriculum-choices__text">Next Web Developer</span>
                                </label>

                                <label class="c-curriculum-choices__item">
                                    <input type="radio" class="c-curriculum-choices__radio js-track-radio" name="track" id="profile-ai-engineer" value="profile-ai-engineer" class="c-curriculum-choices__filter">
                                    <span class="c-curriculum-choices__text">AI Engineer</span>
                                </label>

                                <label class="c-curriculum-choices__item">
                                    <input type="radio" class="c-curriculum-choices__radio js-track-radio" name="track" id="profile-iot-infrastructure-engineer" value="profile-iot-infrastructure-engineer" class="c-curriculum-choices__filter">
                                    <span class="c-curriculum-choices__text">IoT Infrastructure Engineer</span>
                                </label>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-curriculum js-curriculum" data-placeholder="Waar word jij expert in?">
                    {{ range $i, $sequence := seq 6 }}
                    <h3 class="c-curriculum__semester-title">
                        Semester {{ $sequence }}
                    </h3>
                    {{/* Loop the modules of the common semesters, the rest is dynamically added */}}
                    {{ range (where $.Site.Pages "Type" "programma") }}
                    {{ if eq .Params.Semester $sequence }}
                    <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Studycredits }}-sp c-module--{{ .Params.Pillar }} c-module--link u-grid-column-start-{{ .Params.Semester }} u-y-span-{{ .Params.StudyCredits }} js-module
                                    {{ if in (slice 4 5) $sequence }}
                                        c-module--dynamic js-module-dynamic
                                        {{ range .Params.Tracks }}
                                            js-track-{{ . }}
                                        {{ end }}
                                    {{ end }}">
                        <h4 class="c-module__title">{{ .Title }}</h4>

                        <p class="c-module__sp">
                            {{ .Params.Studycredits }} sp
                        </p>
                        {{/*
                        {{ if .Params.Tags }}
                        <p class="c-module__tags">
                            {{ range .Params.Tags }}
                            #{{ . }}
                            {{ end }}
                        </p>
                        {{ end }}
                        */}}
                    </a>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    <div class="c-curriculum__placeholder js-curriculum-placeholder">
                        <!-- <p>Vanaf semester 4 kies je een uitstroomprofiel. Waar word jij expert in?</p> -->
                        <p>Word je Smart XR Developer, Next Web Developer, AI Engineer of IoT Infrastructure Engineer? Kies je expertise vanaf semester 4!</p>
                    </div>

                </div>

                <ul class="o-list c-curriculum-legend">
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-analysis-base"></span>
                        Analysis
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-code-base"></span>
                        Code
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-connect-base"></span>
                        Connect
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-design-base"></span>
                        Design
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-project-base"></span>
                        Integrate
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{/*
    {{ partial "components/cta.html" (dict "title" "Inschrijven?" "paragraph" "lijkt deze opleiding wat voor jou? kom
    dan zeker eens langs op een van onze infodagen.") }}
    */}}
</main>

<dialog class="c-modal js-dialog">
    <div class="c-modal__body c-modal__body--module c-modal__body--module-connect js-dialog-body">
        <button class="c-modal__close js-dialog-close" aria-label="Close dialog">
            {{ partial "atoms/symbol" (dict "value" "close" "class" "c-nav-main-trigger__symbol")}}
        </button>

        <ul class="o-list c-curriculum-legend">
            <li class="c-curriculum-legend__item">
                <span class="c-curriculum-legend__swatch js-swatch"></span>
                <span class="js-legend"></span>
            </li>
        </ul>
        <h1 class="c-type-intro u-mb-alpha js-title">

        </h1>
        <p class="c-type-meta u-ms-1 u-color-neutral-base js-tags">

        </p>
        <div class="u-max-width-optimal">
            <p class="c-type-intro-small js-description">

            </p>
            <div class="s-content js-content">
            </div>
            <h3 class="u-mb-alpha u-color-alpha-light">
                Tools: <span class="u-color-neutral-base js-tools"></span>
            </h3>
            <p class="u-color-neutral-base">
                {{ .Params.Tools }}
            </p>
        </div>

    </div>
</dialog>
{{ end }}